
.form {
  background-color: #f5f5f5;
  padding: 20px 0;
}

.form-subscribe {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 50px;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.form-subscribe p {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: rgba(51, 63, 72, 0.5);
}


input[type="email"] {
  padding: 9px;
  border: solid #e6e7e8;
  font: inherit;
  width: 23rem;
  background-color: #fff;
  font-weight: 400;
  line-height: 24px;
  box-shadow: none;
  outline: 0;
}


Button {
  border-radius: 0;
  width: 173px;
  height: 48px;
  border: none;
  position: absolute;
}

.social-icons a,
.social-icons-1 a {
  display: inline-flex;
  margin: 0 13px;
  margin-top: 30px;
  color: #000;
  line-height: 1.5;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.5px 2px rgba(96, 97, 112, 0.16);
  align-items: center;
  justify-content: center;
}

.social-icons a:hover,
.social-icons-1 a:hover {
  color: #333;
}

.social-icons-1 a {
  box-shadow: 0 0.5px 2px rgba(62, 70, 151, 0.16);
}


.footer-end {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  padding-left: 8.9vw;
  padding-right: 7.64vw;
}

.footer-content,
.col-sm-4,
.col-sm-2,
.col-sm-3 {
  color: #333f48;
  font-size: 14px;
  line-height: 23.94px;
  padding: 0px 16px;
  font-weight: 500;
}

.col-sm-3 .qr {
  width: 100px;
  height: 100px;
}

.col-sm-4 {
  max-width: 320px;
  margin: 0;
}

.col-sm-2 {

  padding-left: 10%;
}

.footer-section {
  flex: 1;
  padding-top: 3%;
  max-width: none;
}

.footer-section h3 {
  margin: 0 0 23px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}

.footer-section p {
  margin: 0;
  max-width: 320px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #333f48;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 14px;
}

.footer-section ul li a {
  color: #333f48;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: red;
}

.apps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 150px;
  margin-bottom: 10px;
}

.apps a {
  margin: 0 10px;
  text-decoration: none;
}

.apps img {
  max-width: 100%;
  height: auto;
}

.footer-bottom {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  align-items: center;
  min-height: 69px;
}

hr {
  width: 80%;
  height: 1px;
  background-color: #837171;
  border: none;
  margin: 20px auto; 
  box-sizing: border-box;
  text-align: center; 
}



@media (max-width: 768px) {
  .footer-section {
    flex: 100%;
    margin-bottom: 30px;
    padding: 0 10px;
  }
  .footer-end {
    margin-top: 50px;
  }
}
