.wrapper {
  padding: 20px 7.64vw;
}

.container {
  display: flex;
}

.sideBar {
  width: 25%;
  margin-right: 10px;
}

.main {
  width: 75%;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -32px;
}

.productItem {
  width: 33.3%;
}

.type {
  margin-bottom: 30px;
}

.category {
  display: block;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
  &:hover {
    color: red;
  }
  &:focus {
    color: red;
  }
}

.categoryItem {
  border: 1px solid #ccc;
  padding: 5px 20px;
  display: inline-block;
  border-radius: 30px;
  margin-right: 10px;
  color: #000;
  text-decoration: none;
  &:hover {
    border: 1px solid #000;
  }
  &:focus {
    border: 1px solid #000;
  }
}

@media only screen and (max-width: 1000px) {
  .productItem {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .productItem {
    width: 100%;
  }
}