.menu {
  display: flex;
  align-items: center;
}

.menu > div:hover .submenu {
  display: block;
}
.menu > div > a:hover {
  border-bottom: 4px solid red;
  padding-bottom: 24px;
}

.menu > div > a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
}
.menu a {
  color: black;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e6e7e8;
  font-family: "Montserrat", sans-serif;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  margin: auto;
  position: relative;
  padding-left: 7.64vw;
  padding-right: 7.64vw;
}
.menu_left {
  display: flex;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
}
.menu_right {
  display: flex;
  font-size: 13px;
  white-space: nowrap;
}

.img {
  margin-right: 30px;
  height: 38px;
}
.img img {
  height: 38px;
}
.group_icon {
  display: flex;
  margin-left: 30px;
}
.group_icon > div {
  margin: 0 10px;
}
.group_icon > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.search label {
  align-items: center;
  justify-content: center;
  display: flex;
}
.search label ~ div {
  border-radius: 40px;
}
.submenu {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 100%;
  left: 0;
}
.submenu_content {
  display: flex;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 3vh 13.5vw;
}
.submenu_content > div {
  min-width: 18%;
}
.submenu_content > div > a {
  margin: 5px 0;
}
.submenu_content > div > a:first-child {
  font-weight: 600;
}

.submenu:hover .submenu-content {
  display: flex;
}
.cart {
  cursor: pointer;
  position: relative;
}
.count {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #fff;
  text-shadow: 0 4px 8px rgba(16, 24, 40, 0.1), 0 2px 4px rgba(16, 24, 40, 0.06);
  background: #da291c;
  border-radius: 11px;
  min-width: 18px;
  position: absolute;
  left: 50%;
  margin-left: 18px;
  top: 0;
}
